/* here you can put your own css to customize and override the theme */
.page-footer {
    margin-left: 0px !important;
}

.portlet-body {
    padding-bottom: 0px !important;
}

<<<<<<< HEAD
=======
/** -----------------------------------------------------------------------------------------------
 * On va régler le problème des SELECT au niveau des ZL
 */
.select2.select2-container{
}
.select2-container--open {
    z-index:10050 !important;
}

>>>>>>> debug8
.dt-body-left:first-child {
    padding-left: 10px !important;
}

.form-body div.form-md-line-input {
    margin-bottom: 10px !important;
}

.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    margin-left: 0px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.popover .arrow, .popover .arrow::after {
    display: block !important;
}

.popover > .popover-title {
    color: #000000 !important;
}

/** -------------------------------------------------------------------------------------------------------------------
 * Définition de tous les MODAL
 */
#frmWait {
    top: -240px !important;
}

<<<<<<< HEAD
/** -----------------------------------------------------------------------------------------------
 * Super FullScreen
 */
.modal-header-ariane {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}

.modal.modal-full {
=======
/** -------------------------------------------------------------------------------------------------------------------
 * On va customiser un peu les MODAL
 */
.modal-full {
    position: fixed;
    top: -20px;
    right: 0;
    bottom: 0;
    left: 0;
}
.modal-full .modal-content {
    margin:2px;
    padding: 2px;
    border: 2px solid #000000 !important;
}
.modal-full .modal-body {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}
.modal-full .modal-body.ariane-body {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}

.modal-full-lg {
    margin: 0 0 0 5%;
    padding: 0;
    position: fixed;
    top: 50px;
    width: 90%;
}
.modal-dialog.modal-full-lg .modal-content {
    margin:2px;
    padding: 2px;
    border: 2px solid #000000 !important;
}
.modal-full-lg .modal-body {
    max-height: 50%;
    overflow-y: auto;
}

.modal-medium-lg {
    margin: 0 0 0 15%;
    padding: 0;
    position: fixed;
    top: 70px;
    width: 70%;
}
.modal-dialog.modal-medium-lg .modal-content {
    margin:2px;
    padding: 2px;
    border: 2px solid #000000 !important;
}
.modal-medium-lg .modal-body {
    max-height: 60%;
    overflow-y: auto;
}

.modal-small-lg {
    margin: 0 0 0 15%;
    padding: 0;
    position: fixed;
    top: 80px;
    width: 50%;
}
.modal-dialog.modal-small-lg .modal-content {
    margin:2px;
    padding: 2px;
    border: 2px solid #000000 !important;
}
.modal-small-lg .modal-body {
    max-height: 50%;
    overflow-y: auto;
}

.ariane-title {
    height: 30px;
    padding: 3px;
    width: 100%;
}

/*
.modal .modal-full {
>>>>>>> debug8
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
<<<<<<< HEAD
    overflow: hidden;
=======
    width: 100%;
    height: 100%;
    overflow-y: auto;
>>>>>>> debug8
}
.modal-dialog.modal-full {
    position: fixed;
    margin: 0;
<<<<<<< HEAD
    width: 100%;
    height: 100%;
=======
>>>>>>> debug8
    padding: 0;
}
.modal-dialog.modal-full-lg {
    height: 70%;
    margin: 0 0 0 5%;
    padding: 0;
    position: fixed;
    top: 50px;
    width: 90%;
}
.modal-dialog.modal-medium-lg {
    height: 50%;
    margin: 0 0 0 15%;
    padding: 0;
    position: fixed;
    top: 100px;
    width: 70%;
<<<<<<< HEAD
}.modal-dialog.modal-small-lg {
=======
}
.modal-dialog.modal-small-lg {
>>>>>>> debug8
    height: 50%;
    margin: 0 0 0 20%;
    padding: 0;
    position: fixed;
    top: 100px;
    width: 60%;
}
<<<<<<< HEAD
.modal-content {
=======
.modal .modal-content {
>>>>>>> debug8
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border: 2px solid #7f7f7f !important;
    border-radius: 0;
    box-shadow: none;
}
.modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
<<<<<<< HEAD
    /*background: #6598d9;*/
    border: 0;
=======
    background: #6598d9;
    border:0;
>>>>>>> debug8
}
.modal-header.with-ariane {
    position: absolute;
    top: 50px !important;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
<<<<<<< HEAD
    /*background: #6598d9;*/
=======
    background: #6598d9;
>>>>>>> debug8
    border-bottom: 1px solid #bababa;
}
.modal-body {
    position: absolute;
    top: 50px;
    bottom: 60px;
    width: 100%;
<<<<<<< HEAD
    /*font-weight: 300;*/
=======
    font-weight: 300;
>>>>>>> debug8
    overflow: auto;
}
.modal-body.ariane-body {
    top: 75px !important;
}
.modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    padding-top: 8px ;
    padding-right: 8px ;
    background: #f3f3f3;
}
.ariane {
    clear: both;
    height: 30px;
    margin-bottom: 15px;
    padding: 3px;
    position: relative;
    top: 45px;
    width: 100%;
}
<<<<<<< HEAD
/** -------------------------------------------------------------------------------------------------------------------
 * Adaptation des LARGEURS
 */

/*
.modal-dialog.modal-full {
    width: 98%;
    height: 98%;
    padding: 0;
}
.modal-dialog.modal-full-lg {
    width: 98%;
    padding: 0;
}
.modal-dialog.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-content {
    height: 98%;
    overflow-y: scroll;
}
*/

/*

.modal, .modal-backdrop {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal.in .modal-dialog {
    transform: translate(0px, 0px);
}
.modal-full.modal-dialog {
    width: 99%;
}
*/
/*
.modal.fade.in {
    top: -100px !important;
}*/

=======
*/

/** -------------------------------------------------------------------------------------------------------------------
 *
 * SUPPRESSION PAS A PAS !
 *
 */
>>>>>>> debug8

/*
.modal.fade.dialog-exec {
    top:-95px !important;
}
*/
/*
.modal.fade.supp {
    top:-95px !important;
}
*/
/*
.modal-full .modal-body {
    min-height: 500px !important;
    max-height: calc(90vh - 150px) !important;
    overflow-y: auto !important;
}
<<<<<<< HEAD
*/
/** Dialog en règle générale -- **/
=======

>>>>>>> debug8
#dialogExec.modal-full.modal-body {
    overflow-y: auto !important;
}
<<<<<<< HEAD
/** Dialog pour les persones physiques -- **/
/*
#dialogExec {
    top:0px !important;
}
*/
/** Dialog pour les organismes -- **/
.select2-container--open {
    z-index:10050 !important;
=======

#dialogExec {
    top:0px !important;
}

#dialogExecLev0.modal-full.modal-body {
    top:0px !important;
>>>>>>> debug8
}

#dialogExeLev1 .modal-full .modal-body {
    top:0px !important;
}

#dialogExeLev2 .modal-full .modal-body {
    top:0px !important;
}

#dialogExeLev3 .modal-full .modal-body {
    top:0px !important;
}

#dialogExeLev4 .modal-full .modal-body {
    top:0px !important;
}

#dialogExeLev5 .modal-full .modal-body {
    top:0px !important;
}

#dialogExecLev9 .modal-body {
    top:0px !important;
}

.txtSmall{
    font-size: 12px !important;
}

*/

/** -
 * Un peu de réducation de taille
 */
.select2-container--bootstrap .select2-dropdown {
    font-size:12px;
}
.select2-selection__rendered {
    font-size:12px;
}

/** -----------------------------------------------------------------------------------------------
 * COLUMN - 2
 */
.dropdown-menu.columns-2 {
    min-width: 400px;
}
.multi-column-dropdown {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.multi-column-dropdown li a {
    clear: both;
    color: #6f6f6f;
    display: block;
    font-weight: 300;
    line-height: 18px;
    padding: 8px 16px;
    text-decoration: none;
    white-space: nowrap;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f6f6f6;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}

/** -----------------------------------------------------------------------------------------------
 *
 */
<<<<<<< HEAD
.complement-footer {
    /*
    margin-top: 5px !important;
    margin-left: -10px !important;
    margin-right: -10px !important;
    padding-top: 2px !important;
    padding-bottom: 2px  !important;
    padding-right: 10px !important;
    font-size: 10px  !important;
    background-color: #b7b7b7  !important;
    */
}
=======
>>>>>>> debug8
.select2-selection__choice {
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
}

/** -----------------------------------------------------------------------------------------------
 * Custo Check Box
 */
.checkbox {
    margin-top: -2px !important;
}
.checkbox label::before {
    width: 24px !important;
    height: 24px !important;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
    font-size: 18px !important;
}
input.styled[type="checkbox"]:checked + label::after, input.styled[type="radio"]:checked + label::after {
    margin-top: -1px !important;
}

.checkbox-info input[type="checkbox"]:checked + label::before, .checkbox-info input[type="radio"]:checked + label::before {
    background-color: #659be0 !important;
    border-color: #659be0 !important;
}
.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}
.checkbox-success input[type="checkbox"]:checked + label::before, .checkbox-success input[type="radio"]:checked + label::before {
    background-color: #36c6d3 !important;
    border-color: #36c6d3 !important;
}

/** -----------------------------------------------------------------------------------------------
 * Ajout des couleurs supplémentaires
 */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-green-seagreen,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-green-seagreen {
    color: #fff;
    background: #1dada6;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-yellow-casablanca,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-yellow-casablanca {
    color: #fff;
    background: #f48455;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-purple-plum,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-purple-plum  {
    color: #fff;
    background: #8775a7;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-yellow,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-yellow  {
    color: #fff;
    background: #c49F47;
}

<<<<<<< HEAD

=======
>>>>>>> debug8
